@if ($app-faq) {

@charset "UTF-8";

    /* -----------------------------------------------------------------
    
        Copyright  : 2022
        Created on : 2022-01-15, 1:15 PM
        Author     : Sébastien FOURNIER <contact@sebastien-fournier.com>
    
        FAQ :
        ====
    
    ------------------------------------------------------------------ */

    .faq-accordion {

        .card-header {

            position: relative;

            .title {

                svg, i {
                    position: absolute;
                    top: 50%;
                    right: 5%;
                    margin-top: -2px;
                    transform: rotate(0deg) translateY(50%);
                    transition: all .3s ease-in-out;
                }

                &.collapsed svg, &.collapsed i {
                    margin-top: 3px;
                    transition: all .3s ease-in-out;
                    transform: rotate(180deg) translateY(50%);
                }
            }
        }
    }
}